.second {
    display: flex;
    justify-content: center;
    background-color: #f8f9fa;
    align-items: center;
    height: 300px;
    text-align: center;
   
  div {
     max-width: 240px;
     margin: 50px;
   }
  
   
    .icon {
      width: 50px;
      height: 50px;
      margin-bottom: 10px;
    }
  }
  
  
  
  .list-1, .list-2, .list-3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 400px;
    width: 1200px;
    margin: auto;
    overflow: hidden;
  
    img {
      width: 600px;
    }
  
    .text {
      margin: auto;
      width: 400px;
    }
  }
  
  .fourth {
    background-color: #f8f9fa;
    
  
    h2 {
      text-align: center;
      padding-top: 80px;
    }
  
  .people {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 300px;
    padding-bottom: 40px;
   
  div {
     max-width: 240px;
     margin: 50px;
   }
  
    img {
      width: 150px;
      height: 150px;
      border-radius: 100px;
      margin-bottom: 10px;
    }
  }
  }